#pac-input{
  width: 60%;
  padding: 6px;
  margin-top: 18px;
  margin-left: 40px;
  font-size: 17px;
  border: 2px solid gray;
  border-radius: 5px;
}

#demo{
  margin-left: 40px;
  width: 30%;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}